[Desktop Entry]
Type=Application
Name=Pika Fetch
Comment=Custom fastfetch-style system overview for PikaOS
Exec=pika-fastfetch-gui
Icon=/usr/share/icons/hicolor/256x256/apps/pika-fastfetch-gui.png
Terminal=false
Categories=System;Monitor;
StartupNotify=true
